/* @override http://amadeus.local/Source/iView.css */

.iView {
	position:absolute;
	overflow:hidden;
	z-index:1;
	top:0;
	left:0;
	width:100%;

	background:url(bg.gif);
	background-size:7px 1px;
	
	font:13px/1.4em Helvetica Neue, Helvetica, sans-serif;
	-webkit-tap-highlight-color:transparent;
}

.iView ul, .iView ol {
	list-style:none;
	padding:0;
	margin:0;
}

.iView .titlebar {
	position:absolute;
	top:0;
	right:-10px;
	left:-10px;
	z-index:1;

	overflow:hidden;
	padding:0 10px;
	text-align:center;
	height:44px;

	background:#43374f url(images/titlebar-bg.png);
	background-size:1px 44px;
	color:#fff;
}

.iView .titlebar h1 {
	position:absolute;
	top:0;
	margin:0;
	left:95px;
	right:95px;
	font-size:18px;
	line-height:44px;

	text-shadow:0 -1px 0 #000;
}

.css-button {
	position:absolute;
	margin:0;
	padding:0;
	padding:0px 5px 0px;
	display:block;
	background:transparent; /* url(images/); */
	border-width:6px 6px 7px 6px;
	-webkit-border-image: url(images/titlebar-button.png) 12 12 14 12 repeat stretch;
	
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 0 #000;
}

.css-button:active {
	-webkit-border-image: url(images/titlebar-button-active.png) 12 12 14 12 repeat stretch;
}

.iView .titlebar .css-button {
	position:absolute;
	top:7px;

	max-width:80px;
}

.iView .titlebar .css-button.left {
	left:15px;
}

.iView .titlebar .css-button.back {
	padding-left:3px;
	border-width:7px 6px 7px 14px;
	-webkit-border-image: url(images/titlebar-button-back.png) 14 12 14 28  stretch;
}

.iView .titlebar .css-button.right {
	right:17px;
	background-color:#068400;
}

.iView .content {
	position:absolute;
	z-index:0;
	overflow:hidden;
	left:0;
	width:100%;
}

.iView .content .iscroll {
	min-height:100%;
}

.iView .content h2,
.iView .content p {
	margin:20px 20px -10px;
	font-size:17px;
	font-weight:bold;
	color:#27212e;
	text-shadow:0 1px 0 #fff;
}

.iView .content p {
	font-size:14px;
	margin:10px 20px;
}



.iscroll {
	background:url(bg.gif);
	background-size:7px 1px;
	color:#000;
	font:bold 16px/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
	overflow:hidden;
}

.iscroll .content {
	background:url(bg.gif);
	background-size:7px 1px;
}

.iView .unit-list {
	margin:16px 10px;
	border:1px solid #ababab;
	background-color:#fff;
	
	-webkit-border-radius:10px;
	border-radius:10;
	-webkit-background-clip: padding-box;
}

.iView .unit-list li {
	position:relative;
	padding:10px;
	border-bottom:1px solid #ababab;
	font-weight:bold;
	z-index:0;
}

.iView .unit-list li:first-of-type {
	border-radius:10px 10px 0 0;
}

.iView .unit-list li:last-of-type {
	border:none;
	border-radius:0 0 10px 10px;
}

.unit-list li.nav {
	background-image:url(images/nav-arrow.png);
	background-repeat:no-repeat;
	background-size:9px 15px;
	background-position:95% 50%;
	padding-right:30px;
}

.unit-list li span {
	width:90px;
	display:block;
}

.unit-list li.label span,
.unit-list li.label-id span,
.unit-list li span.value {
	width:auto;
}

.unit-list li.nav span.value {
	width:166px;
	right:30px;
}

.unit-list li input[type=text],
.unit-list li span.value {
	position:absolute;
	z-index:3;
	top:0;
	right:0;
	left:110px;
	width:auto;
	margin:0;
	padding:10px;
	font-size:18px;
	line-height:24px;
	height:24px;
	background:transparent;
}

.unit-list > li:first-of-type input[type=checkbox] {
	top:8px;
}

.unit-list li input[type=checkbox] {
	position:absolute;
	top:10px;
	right:10px;
}

.unit-list li.label-toggle span {
	width:180px;
}

.unit-list li span.value {
	color:#2c2d5d;
	top:-2px;
}

.unit-list li input[type=text] {
	font-weight:normal;
	border:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	border-radius:0;
}

/* Create pixelated corners in unit-list */

.unit-list li.highlight,
.unit-list li.highlight:before,
.unit-list li.highlight:after {
	background-color:#f20 !important;
	color:#fff !important;
}

.unit-list li.highlight span,
.unit-list li.highlight input {
	color:#fff !important;
}